name: "List installed repositories"
on:
  workflow_dispatch:
  repository_dispatch:
    types: ["registration"]

jobs:
  registration:
    if: "${{ github.event_name == 'repository_dispatch' && github.event.client_payload.new }}"
    name: "List new dashboard repositories"
    runs-on: ubuntu-latest
    steps:
      - id: echo
        run: echo "${{ toJSON(github.event.client_payload) }}"

  repos:
    name: "Get list of dashboard repositories"
    env:
      APP_ID: ${{ vars.APP_ID }}
      PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
    runs-on: ubuntu-latest
    outputs:
      repos: ${{ steps.repos.outputs.repos }}
      slug: ${{ steps.repos.outputs.slug }}
      id: ${{ steps.repos.outputs.id }}
      email: ${{ steps.repos.outputs.email }}
      token: ${{ steps.token.outputs.token }}
    steps:
      - id: new-repos
        run: |
          {
            echo "new<<EOF"
            echo '${{ toJSON(github.event.client_payload.newbies) }}'
            echo "EOF"
          } >> "$GITHUB_OUTPUTS"
      - id: checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          sparse-checkout: |
            requirements.txt
            appHelper.py
            getInstallations.py
      - id: setup-snake
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip
      - id: install
        run: pip install -r requirements.txt
      - id: repos
        env:
          NEW_REPOS: ${{ steps.new-repos.outputs.new }}
        run: |
          python getInstallations.py
      - id: list-repos
        run: |
          echo "${{ steps.repos.outputs.repos }}"
